body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#angle {
    width: 50%;
    height: 10%;

}
 .image{
     width: auto;
     height: 70%;
 }